@import "./Colors.scss";
@import "./Mixins.scss";
@import "./Resolutions.scss";

.intro {
  position: absolute;
  width: 100%;
  height: 100%;

  &.--remove {
    opacity: 0;
  }

  &.--off {
    display: none;
  }
}

.introButton {
  all: unset;
  @include absoluteCenter();
  z-index: 3;
  padding: 1rem 3rem;
  font-size: 3.6rem;
  letter-spacing: 0.5rem;
  color: $vivid-sky-blue;
  border: 0.5rem solid $backgroundColorOne;
  background-color: $backgroundColorOne;
  transition: 0.5s ease-in-out;
  text-shadow: $vivid-sky-blue 0px 0px 2.5rem;
  text-transform: uppercase;
  cursor: pointer;

  -webkit-box-shadow: -0.7px 0px 5px 3px $vivid-sky-blue;
  -moz-box-shadow: -0.7px 0px 5px 3px $vivid-sky-blue;
  box-shadow: -0.7px 0px 5px 3px $vivid-sky-blue;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-box-shadow: 0px 0px 5px 3px $vivid-sky-blue;
    -moz-box-shadow: 0px 0px 5px 3px $vivid-sky-blue;
    box-shadow: 0px 0px 5px 3px $vivid-sky-blue;

    transition: 0.5s ease-in-out;
    opacity: 0;
  }

  &:hover {
    text-shadow: 0 0 0.6rem $vivid-sky-blue, 0 0 1.5rem $vivid-sky-blue,
      -0.2rem 0.1rem 1rem $vivid-sky-blue, 0.2rem 0.1rem 1rem $vivid-sky-blue,
      0 -0.5rem 2rem $vivid-sky-blue, 0 0.5rem 3rem $vivid-sky-blue;

    &:after {
      opacity: 1;
    }

    > .glitch {
      animation: glitch 1s linear infinite;

      &::before,
      &::after {
        content: attr(title);
        position: absolute;
        left: 0;
        text-shadow: none;
      }

      &:before {
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
      }

      &::after {
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
      }
    }
  }
}

.glitch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.snow {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 2;

  box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px,
    inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px,
    inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.blockOverlay {
  width: 100%;
  height: 100vh;
}

.block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  background-repeat: no-repeat;
}

.block-1 {
  left: 0;
}

.block-2 {
  left: 5%;
}

.block-3 {
  left: 10%;
}

.block-4 {
  left: 15%;
}

.block-5 {
  left: 20%;
}

.block-6 {
  left: 25%;
}

.block-7 {
  left: 30%;
}

.block-8 {
  left: 35%;
}

.block-9 {
  left: 40%;
}

.block-10 {
  left: 45%;
}

.block-11 {
  left: 50%;
}

.block-12 {
  left: 55%;
}

.block-13 {
  left: 60%;
}

.block-14 {
  left: 65%;
}

.block-15 {
  left: 70%;
}

.block-16 {
  left: 75%;
}

.block-17 {
  left: 80%;
}

.block-18 {
  left: 85%;
}

.block-19 {
  left: 90%;
}

.block-20 {
  left: 95%;
}

.fogContainer {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  opacity: 0.8;

  @include tablet {
    opacity: 0.3;
  }
}

.fogImg {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;

  &.--first {
    background: url("../images/fog-1.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: fogMovingAnimation 60s linear infinite;
  }

  &.--second {
    background: url("../images/fog-2.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: fogMovingAnimation 30s linear infinite;
  }
}

@keyframes glitch {
  2%,
  64% {
    transform: skew(0deg);
  }
  4%,
  60% {
    transform: skew(0deg);
  }
  62% {
    transform: skew(5deg);
  }
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

@keyframes fogMovingAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
